/* Titillium Web */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&family=Titillium+Web:wght@300;600&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&family=Titillium+Web:wght@300;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

html {
	scroll-behavior: smooth;  
  height: 100%;
}

body {
  height: 100%;
}

.red-text {
  color: #E45447;
}

.red-line {
  position: absolute;
  background-color: #E45447;
  border-radius: 100%;
  height: 7.5px;
  width: 7.5px;
}

.red-line::after {
  content: "";
  position: absolute;
  background: #E45447;
  box-sizing: border-box;
  height: 2.4px;
  width: 150px;
  top: 3.1px;
  left: 0px;
}

.reveal-onScroll {
 position: relative;
 transform: translateY(100px);
 opacity: 0;
 transition: all 1s ease;
}

.reveal-onScroll.active{
 transform: translateY(0px);
 opacity: 1;
}

/* ---------------------------------------------------------------------------- */

/* Start of Landing Page */
#top_page {
 position: relative;
 width: 100%;
 height: 100vh;
 background-color: #293241;
 /*#0A192FD9;*/
}

.reveal-onLoad {
 position: relative;
 transform: translateY(5px);
 opacity: 0;
 transition: all .2s ease;
}

.reveal-onLoad.active{
 transform: translateY(0px);
 opacity: 1;
}

.circle {
  line-height: 24px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: #ee6c4d;
  text-align: center;
  border: 3px solid #E45447;
}

.nav-link {
  color: #DCDCDC !important;
}

.nav-link:hover {
  color: #FF4C29 !important;
}

.red-text-top {
  color: #ee6c4d;
  font-size: 18px;
  letter-spacing: .5px;
  font-weight: 500;
}

.landing-fontsize {
  font-size: 4vw;
}

#my_name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: white;
}

#tagline {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  background-image: linear-gradient(45deg,#E45447 10%,#ff9966 60%, #f3ec78 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

#landing_text {
  width: 50%;
  color: #DCDCDC;
}

.custom-border {
  width: 18%;
  color: white;
  background-color:#E45447;
  cursor: pointer;
  border: none;
}

/* For the moving Name animation */
.glitch {
 color: #DCDCDC;
 animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(3px,0) skew(0deg);
 }
 4%,60%{
    transform: translate(-3px,0) skew(0deg);
 }
 62%{
    transform: translate(0,0) skew(5deg); 
 }
}

.glitch:before,
.glitch:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
 }
 4%,60%{
    transform: translate(-2px,2px);
 }
 62%{
    transform: translate(13px,-1px) skew(-13deg); 
 }
}

.glitch:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
 }
 4%,60%{
    transform: translate(-2px,0);
 }
 62%{
    transform: translate(-22px,5px) skew(21deg); 
 }
}

/* For the Waves */
div .wave {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100px;
 background: url('../assets/images/wave.png');
 background-size: 1000px 100px;
}

div .wave.wave1 {
 animation: animate 30s linear infinite;
 z-index: 1000;
 opacity: 1;
 animation-delay: 0s;
 bottom: 0;
} 

div .wave.wave2 {
 animation: animate2 15s linear infinite;
 z-index: 999;
 opacity: 0.5;
 animation-delay: -5s;
 bottom: 10px;
} 

div .wave.wave3 {
 animation: animate 30s linear infinite;
 z-index: 998;
 opacity: 0.2;
 animation-delay: -2s;
 bottom: 15px;
} 
div .wave.wave4 {
 animation: animate2 30s linear infinite;
 z-index: 997;
 opacity: 0.7;
 animation-delay: -5s;
 bottom: 20px;
} 

@keyframes animate {
 0% {
  background-position-x: 0;
}
100% {
  background-position-x: 1000px;
}
}
@keyframes animate2 {
 0% {
  background-position-x: 0;
}
100% {
  background-position-x: -1000px;
}
}
/* End of Landing Page */

/* ---------------------------------------------------------------------------- */

/* Start of About Section */
#resume_form {
  width: 40%;
  color: white;
  background-color:#E45447 ;
  cursor: pointer;
}

#resume_form > button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  list-style: none; 
}

ul li::before {
  content: "\2022";  
  color: #E45447;
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
/* End of About Section */

/* ---------------------------------------------------------------------------- */

/* Start of Project Section */
.project-image {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: .8s ease;
  cursor: pointer;
}

/* Image Border and Shadow*/
.project-border {
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.middle {
  transition: .8s ease;
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.project-border:hover .project-image {
  opacity: .08;
}

.project-border:hover .middle {
  opacity: 1;
}
/* End of Projection Section */

/* ---------------------------------------------------------------------------- */

/* Start of Experience Section */
.tab {
  overflow: hidden;
  border-top: 2px solid #E0E0E0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tabContent {
  display: none;
  padding: 25px 12px;
  border-top: none;
}

.tab .icon {
  display: none;
}

.tab button:hover {
  background-color: #F0F0F0;
  color: black;
}

.tab button.active {
  background-color: #F0F0F0;
  color: #E45447;
}

.tab .icon {
  display: none;
}

.active {
  display: block;
}
/* End of Experience Section */

/* ---------------------------------------------------------------------------- */

/* Start of Contact Section */
.blue-remove {
  color: #303030;
}

.blue-remove:hover {
  color:#E45447; 
  cursor:pointer;  
}

#copyright::after {
   content: "2022 Amir Castañeda. Made in PH.";  
  width: 1em; 
  margin-left: .3em; 
}
/* End of Contact Section */

/* ---------------------------------------------------------------------------- */

/* Media Queries */
@media only screen and (min-width: 2000px) {
  .custom-border {
    width: 15%;
 }
 #my_name {
    font-size: 7vmin;
 }
 #landing_text {
    width: 40%;
 }
}

@media only screen and (max-width: 2000px) {
  .custom-border {
    width: 20%;
 }
}

@media only screen and (max-width: 1500px) {
  .landing-fontsize {
    font-size: 7vmin;
 }
 #my_name {
    font-size: 7vmin;
 }
 #landing_text {
    width: 50%;
 }
 .custom-border {
  width: 25%;
}

#resume_form {
  width: 40%;
}

}
@media only screen and (max-width: 1200px) {
 #resume_form {
   width: 30%;
}

}

@media only screen and (max-width: 768px) {
  #landing_text {
    width: 70%;
 }
 .custom-border {
    width: 35%;
 }
}

@media screen and (max-width: 600px) {
  .tab button:not(:first-child) {display: none;}
  .tab button.icon {
    float: right;
    display: block;
 }

 .tab.responsive {position: relative;}
 .tab.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
 }

 .tab.responsive button {
    float: none;
    display: block;
    text-align: left;
 }

 #profile_picture {
  height: 70%;
  width: auto;
}

#resume_form {
  width: 40%;
}
}

@media only screen and (max-width: 480px) {
  #landing_text {
    width: 100%;
 }
 .landing-fontsize {
    font-size: 10vmin;
 }
 #my_name {
    font-size: 10vmin;
 }
 .custom-border {
    width: 60%;
 }
 #profile_picture {
  height: 60%;
  width: auto;
}
}

@media only screen and (max-width: 300px) {
  .custom-border {
    width: 80%;
 }
}

