/* Import Fonts */
/* Titillium Web */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&family=Titillium+Web:wght@300;600&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&family=Titillium+Web:wght@300;600&display=swap');


/* Overwriting the Defaults */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}
 
#name-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #202020;
}
#todo {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  	/* Create the gradient. */
  	/* #bdc3c7, #2c3e50 for gray */
  	background-image: linear-gradient(45deg,#E45447, #ff5e62, #f3ec78);
	 background-size: 100%;
	 background-repeat: repeat;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent; 
	 -moz-background-clip: text;
	 -moz-text-fill-color: transparent;
}



.red-text {
	color: #E45447;
}

.red-line {
	position: absolute;
	background-color: #E45447;
	border-radius: 100%;
	height: 7.5px;
	width: 7.5px;
}

.red-line::after {
  content: "";
  position: absolute;
  background: #E45447;
  box-sizing: border-box;
  height: 2.4px;
  width: 150px;
  top: 3.1px;
  left: 0px;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  
  color: #E45447;
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
/* Removing the Blue in anchor tag */
.blue-remove {
    color: #303030;
    text-decoration: none;
    min-width: 200% !important;
}

.blue-remove:hover {
    color:#E45447; 
    text-decoration:none; 
    cursor:pointer;  
}
/* For Project images */
/*Container*/
.image {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .8s ease;
}

.middle {
  transition: .8s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.con:hover .image {
	opacity: .1;
}
.con:hover .middle {
	opacity: 1;
}


/* For Responsive Webpage */
.intro-font {
	font-size: 4vw;
}
#landing-text {
	width: 50%;
}
.border-custom {
	width: 18%;
    color: white;
    background-color:#E45447 ;
}
#moving-gif {
	height: 100px;
	width: auto;
}

@media only screen and (max-width: 1500px) {
    .intro-font {
      font-size: 7vmin;
   }
    #name-text {
      font-size: 7vmin;
   }
    #landing-text {
      width: 70%;
  }
    .border-custom {
	width: 40%;
	}
}

@media only screen and (max-width: 700px) {
 
    #landing-text {
      width: 100%;
     }

    .border-custom {
	width: 50%;
	}
}


@media only screen and (max-width: 400px) {
    #landing-text {
      width: 100%;
   }
    .intro-font {
      font-size: 10vmin;
   }
    #name-text {
      font-size: 10vmin;
   }

    .border-custom {
	width: 60%;
	}
}





.circle {
  line-height: 24px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: #E45447;
  text-align: center;
  border: 3px solid #E45447;
}














/* For the moving animation */


#name-text{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(3px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-3px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

#name-text:before,
#name-text:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

#name-text:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

#name-text:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}